/* MediaWiki:Pivot.css */

.tab-bar .ul.side-nav { 
    background: rgb(128, 0, 192); 
}

.inputSpan input.s4.createboxInput { 
   width: 23%; 
   margin: 3px;
}

.inputSpan input.s5.createboxInput { 
   width: 18%; 
   margin: 3px;
}

.inputSpan input.s6.createboxInput { 
   width: 15%; 
   margin: 3px;
}

.inputSpan input.s7.createboxInput { 
   width: 13%; 
   margin: 3px;
}

.inputSpan input.s10.createboxInput { 
   width: 9%; 
   margin: 3px;
}

.inputSpan input.createboxInput {
 width: 100%;
}

.mw-category-generated {
   display: none;
}
.printfooter { 
   display: none; 
}
